body{
  background-color: #67E89B;
  width: 100%;
  margin: auto;
}

.main{
  margin: auto;
  width: 1366px;
  height: 800px;
  /*background-color: white;*/
}

nav {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  float: right;
  padding-right: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

a{
  color: #2C2499;
  text-decoration: none;
  /*float: right;*/
}

.logo{
  float:left;
}

li{
  padding-left: 25px;
  display: inline-block;
  text-decoration: none;
  float:right;
}

.flex-form{
  width: 400px;
  height: 200px;
  background-color: none;
  float: right;
  margin-top: 50px
}

.game-title{
  width: 900px;
  height: 500px;
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 125px;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

/*.box-container{
  margin: auto;
  display: i
}*/

/*Flex Box Starts Here*/
.game-box-flex{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    justify-content: space-around;
    width: 90%;
    height: 100px;
    background-color: gray;
    margin: auto;

}

.chicken{
   width: 90px;
    height: 90px;
    background-color: black;
    margin: 1px;
}











